body{
  width: 100%;
  height: 100%;
  background-color: #333;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

header h1{
    padding: 0;
    font-size: 42px;
    margin: 0;
    flex-grow: 1;
}

header h2{
    padding: 0;
    margin: 0;
    font-size: 38px;
    /* justify-self: center; */
    margin-right: -25px;
}


header ul {
    margin-top: 20px;
    font-size: 26px;
    margin-right: 25px;
    display: flex;
    list-style: none;
    justify-content: right;
    padding: 0;
}

header li{
    margin-right: 30px; 
}

header a{
  transition: all 0.3s;
  text-decoration: none;
  color: black;
}

header a:hover{
  color: rgb(255, 166, 0);
}

.fundo{
  position: relative;
  display: inline-block;
}

.sobre-imagem{
  position: absolute;
  top: 20%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fundo::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none; 
}

.imagem{
    display: block;
    width: 100%;
    height: auto;
}
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 0px; /* Reduza o padding vertical conforme necessário */
    margin: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; /* Adicione ou ajuste o padding conforme necessário */
  }
  
  .footer-logo img {
    max-width: 100px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 10px; /* Ajuste conforme necessário */
  }
  

  .btn {
    line-height: 35px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    font-size: 22px;
  }
  
  .btn-cardapio {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-cardapio a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }
  .btn-cardapio::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
    pointer-events: none;
  }
  .btn-cardapio:hover a {
    color: #FFF;
    letter-spacing: 2px;
  }
  .btn-cardapio:hover::before {
    color: #FFF;
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-cardapio::after {
    color: #FFF;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .btn-cardapio:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }





  