h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2; /* Ajuste conforme necessário */
}

.btn {
    line-height: 35px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    font-size: 22px;
  }
  
  .btn-cardapio {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-cardapio a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }
  .btn-cardapio::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
    pointer-events: none;
  }
  .btn-cardapio:hover a {
    color: #FFF;
    letter-spacing: 2px;
  }
  .btn-cardapio:hover::before {
    color: #FFF;
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-cardapio::after {
    color: #FFF;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .btn-cardapio:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  .imagem{
    display: block;
    width: 100%;
    height: auto;
}

.fundo{
    position: relative;
    display: inline-block;
  }
  
  .sobre-imagem{
    margin-top: -80px;
    position: absolute;
    /* top: 10%; */
    top: 55%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .sobre-imagem h2{
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .sobre-imagem .mais-pedidas-txt{
    font-size: 36px;
  }
  
  .fundo::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none; 
  }

  .mais-pedidas{
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
  }

.margherita{
    margin: 0 50px;
}

.card {
  backface-visibility: hidden;
  font-size: 22px;
    border-color: black;
    width: 100%;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(8px); 
    height: 100%;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    text-decoration: none; 
}

.card li{
  background-color: rgba(255, 255, 255, 0); 
}

.card-title{
  font-size: 26px;
}

.bg-white{
  color: black;
}

.bg-light{
  color: black;
}

.bg-warning{
  color: black;
}

.mais-pedidas{
  display: flex;
  justify-content: space-around;
}

.mais-pedidas h2{
  letter-spacing: 3px;
}

.txt-localizacao{
  font-size: 22px;
}

.pepperoni .peperoni{
  background-color: rgba(255,0,0,0.5);
}

.pepperoni .mussarela{
  color: black;
  background-color: rgba(255, 238, 0, 0.9);
}

.pepperoni .tomate{
  background-color: rgba(255,0,0,0.5);
}

.margherita .manjericao{
  background-color: rgba(0, 255, 0, 0.5);
}

.margherita .mussarela{
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.margherita .tomate{
  background-color: rgba(255,0,0,0.5);
}

.frango-catupiry .catupiry{
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.frango-catupiry .tomate{
  background-color: rgba(255,0,0,0.5);
}

.line-container {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: white;
}

.text {
  font-size: 26px;
  padding: 0 10px; /* Adicione preenchimento para espaçamento entre o texto e as linhas */
}