main{
    background-color: #333; 
}

.container{
    display: inline-block;
    justify-content: space-between;
}
.cardapio{
    margin-top: 20px;
    margin-left: 20px;
}


/* .testeeeee{
    AAAAAAA
} */