<main>
    <div class="fundo">
      <img src="../assets/1050377.jpg" alt="fundo" width="100%" class="imagem" height="100">
      <div class="sobre-imagem">
        <h2>Conheça nosso novo cardápio</h2>
        <div class="btn btn-cardapio">
          <a routerLink="/cardapio" routerLinkActive="active">CARDÁPIO</a>
        </div>


        

        <h2 class="mais-pedidas-txt">As mais pedidas!</h2>
        
        <hr style="border: none; background-color: white; height: 1.5px;">

        <div class="mais-pedidas">
            
            <div class="pepperoni">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/peperoni.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Pepperoni</h5>
                      <p class="card-text">A preferida da galera. Explosão de queijo e sabor.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item peperoni">Rodelas de Pepperoni</li>
                      <li class="list-group-item mussarela">Mussarela</li>
                      <li class="list-group-item tomate">Molho de Tomate Fresco</li>
                      <!-- <li class="list-group-item bg-danger">Rodelas de Pepperoni</li>
                      <li class="list-group-item bg-warning">Mussarela</li>
                      <li class="list-group-item bg-danger">Molho de Tomate Fresco</li> -->
                    </ul>
                  </div>        
            </div>

            <div class="margherita">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/margherita.jpeg" alt="Card image cap" width="100%" height="100%">
                  <div class="card-body">
                    <h5 class="card-title">Margherita</h5>
                    <p class="card-text">A clássica e tradicional pizza de Nápoles. Simples e magnífica.</p>
                  </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item manjericao">Manjericão Fresco</li>
                          <li class="list-group-item mussarela">Mussarela de Búfala</li>
                          <li class="list-group-item tomate">Molho de Tomate Fresco</li>
                        </ul>
                </div>        
          </div>

            <div class="frango-catupiry">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/Pizza-de-Frango-com-Catupiry-768x512.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Frango & Catupiry</h5>
                      <p class="card-text">Primeiro lugar nas mais pedidas, o clássico da família brasileira.</p>
                    </div>
                    <ul class="list-group list-group-flush border-light">
                      <li class="list-group-item bg-warning">Frango Desfiado</li>
                      <li class="list-group-item catupiry">Catupiry Original</li>
                      <li class="list-group-item tomate">Molho de Tomate Fresco</li>
                    </ul>
                  </div>        
            </div>
        </div>

        <div class="localizacao">

          <div class="line-container">
            <div class="line"></div>
            <div class="text">Faça o pedido para retirada também!</div>
            <div class="line"></div>
          </div>
          <h2 class="txt-localizacao">Nos localizamos na Alameda Vieira de Carvalho 105, Santa Teresinha - Santo André</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2439.521258340707!2d-46.53329735105881!3d-23.63472998714381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce42b71903d4e5%3A0xf9ef18cdb48757ac!2sAlameda%20Vieira%20de%20Carvalho%2C%20105%20-%20Santa%20Teresinha%2C%20Santo%20Andr%C3%A9%20-%20SP%2C%2009210-630!5e0!3m2!1spt-BR!2sbr!4v1712086806640!5m2!1spt-BR!2sbr" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>
    </div> 
  </main>
